--- 
const { post } = Astro.props;
const { slug, title, published_date, excerpt, author } = post.attributes;
const url = import.meta.env.STRAPI_URL;  

--- 
<div class="title">
  <a
    href={`posts/${slug}`} 
    target="_self"
    class="unset hover:text-text-link"
  >
    <span>{title}</span>
      </a>
    </div>
  <div class="text-text-muted text-sm italic pt-1">
</div>
