---
import { formatDate } from 'src/utils/dateUtils'
const { projects, title } = Astro.props
---

<table class="">
  <tbody class="">
    {
      projects.map(project => (
        <tr class="" style="border-spacing: 2px;">
          <td class="p-2 font-extralight text-center align-middle text-sm">
            {formatDate(project.attributes.published_date)}
          </td>
          <td class="p-2">
            <a href={`/projects/${project.attributes.slug}/`} class="p-0">
              {project.attributes.title}
            </a>
          </td>
        </tr>
      ))
    }
  </tbody>
</table>
