---
const { post } = Astro.props
const { slug, title, published_date } = post.attributes
---

<tr>
  <td> {post.attributes.published_date}</td>
  <td>
    <a href={slug}>
      {title}
    </a>
  </td>
</tr>
