---
import { formatDate } from 'src/utils/dateUtils'

const { posts } = Astro.props
---

<table class="">
  <tbody class="">
    {
      posts.map(post => (
        <tr class="" style="border-spacing: 2px;">
          <td class="p-2 font-extralight text-center align-middle text-sm">
            {formatDate(post.attributes.published_date)}
          </td>
          <td class="p-2">
            <a href={`/posts/${post.attributes.slug}/`} class="p-0">
              {post.attributes.title}
            </a>
          </td>
        </tr>
      ))
    }
  </tbody>
</table>
