--- 
import PageLayout from '../../layouts/PageLayout.astro'
import PageMeta from '../../components/PageMeta.astro'
import { SITE_TITLE } from '../../config'

import PostList from 'src/components/PostList.astro'

import fetchApi from 'src/lib/strapi'
import type Post from 'src/interfaces/post'

const posts = await fetchApi<Post[]>({
  endpoint: 'posts',
  wrappedByKey: 'data',
}) 

---

<PageLayout>
  <PageMeta title={`Posts | ${SITE_TITLE}`} slot="meta" />
  <section slot="main">  
    <p>Some content</p> 
    <PostList posts={posts} />
  </section>
</PageLayout>
