---
import PageLayout from '../../layouts/PageLayout.astro'
import PageMeta from '../../components/PageMeta.astro'
import { SITE_TITLE } from '../../config'

import PostList from '../../components/posts/PostList.astro'
import fetchApi from '../../lib/strapi'
import type Post from '../../interfaces/Post'

const posts = await fetchApi<Post[]>({
  endpoint: 'posts',
  wrappedByKey: 'data',
})
---

<PageLayout>
  <PageMeta title={`Posts | ${SITE_TITLE}`} slot="meta" />
  <section slot="main">
    <h1 id="title" class="mb-4 text-3xl font-bold leading-5">Post</h1>
   <PostList title="Posts" posts={posts} />
  </section>
</PageLayout>
