---
import Main from "@layouts/Main.astro";
import Card from "@components/main/MainCard.astro";
import Header from "@components/common/Header.astro";
import Article from "@components/article/ArticleCard.astro";
import Footer from "@components/common/Footer.astro";
import Title from '@components/blocks/Title.astro';
import Date from '@components/blocks/Date.astro';
import Content from '@components/blocks/Content.astro'
import { SITE } from "@config";
import { renderMarkdownToHtml } from "@utils/renderContent"

import directus from "@utils/directus";
import { readItems } from "@directus/sdk";

export async function getStaticPaths() {
  const posts = await directus.request(
    readItems("posts", {
      fields: ["*", { relation: ["*"] }],
    }),
  );
  return posts.map((post) => ({ params: { slug: post.slug }, props: post }));
}
const post = Astro.props;
---

<Main>
  <Card>
    <Header />
    <Article>
      <Title title={post.title} />
      <Date date={post.published_date} />
      <Content markdownContent={post.content} />
    </Article>
  </Card>
  <Footer />
  <Main />
</Main>
