---
import Main from "@layouts/Main.astro";
import Card from "@components/cards/Card.astro";
import Header from "@components/main/Header.astro";
import Content from "@components/article/Content.astro";
import Footer from "@components/main/Footer.astro";
import { SITE } from "@config";

import directus from "@utils/directus";
import { readItems } from "@directus/sdk";

export async function getStaticPaths() {
  const posts = await directus.request(
    readItems("posts", {
      fields: ["*", { relation: ["*"] }],
    }),
  );
  return posts.map((post) => ({ params: { slug: post.slug }, props: post }));
}
const post = Astro.props;
---

<Main>
  <Card>
    <Header />
    <Content>
      <img
        src={`${import.meta.env.DIRECTUS_URL}/assets/${post.image}?width=500`}
      />
      <h1>{post.title}</h1>
      <div set:html={post.content} />
    </Content>
  </Card>
  <Footer />
  <Main />
</Main>
