---
import ListCard from "@components/ListCard.astro";
import Header from "@components/Header.astro";
import Nav from "@components/Nav.astro";
import Footer from "@components/Footer.astro";
import Base from "@layouts/Base.astro";

import directus from "@utils/directus";
import { readItems } from "@directus/sdk";
import { readSingleton } from "@directus/sdk";
import { readItem } from "@directus/sdk";

const pageContent = await directus.request(readItem("pages", "posts"));

const posts = await directus.request(
  readItems("posts", {
    fields: ["slug", "title", "published_date", { author: ["name"] }],
    sort: ["-published_date"],
  }),
);
---

<Base>
  <main
    class="flex flex-col mx-4 mt-8 leading-6 text-black sm:mx-auto sm:mt-20 sm:mb-auto"
    style="max-width: 1000px;"
  >
    <div class="flex flex-col text-black sm:flex sm:flex-row">
      <Nav />
      <ListCard
        title={pageContent.title}
        desc={pageContent.content}
        posts={posts}
      >
        <Header activeNav="posts" />
      </ListCard>
    </div>
    <Footer />
  </main>
</Base>
