---
import Main from "@layouts/Main.astro";
import Header from "@components/main/Header.astro";
import Card from "@components/cards/Card.astro";
import Content from "@components/article/Content.astro";
import Footer from "@components/main/Footer.astro";
import { SITE } from "@config";

import directus from "@utils/directus";
import { readItems } from "@directus/sdk";

const posts = await directus.request(
  readItems("posts", {
    fields: ["slug", "title", "published_date", { author: ["name"] }],
    sort: ["-published_date"],
  }),
);

// const posts = await getCollection("blog");
---

<Main>
  <Card>
    <Header />
    <Content>
      <ul>
        {
          posts.map((post) => (
            <li>
              <a href={`/posts/${post.slug}`}>
                <h2>{post.title}</h2>
              </a>
            </li>
          ))
        }
      </ul>
    </Content>
  </Card>
  <Footer />
</Main>
