---
import { renderMarkdownToHtml } from "@utils/renderContent";
import hljs from 'highlight.js';
import 'highlight.js/styles/atom-one-dark-reasonable.min.css';

export interface Props {
  content: string;
}



const { content } = Astro.props;
const renderedContent = content ? renderMarkdownToHtml(content) : null;
---

<div class="prose">
  <div set:html={renderedContent} />
</div>
