---
import { renderMarkdownToHtml } from "@utils/renderContent";

export interface Props {
  markdownContent: string;
}

const { markdownContent } = Astro.props;
const content = renderMarkdownToHtml(markdownContent);
---

<div class="prose">
  <div set:html={content} />
</div>
