---
import { renderMarkdownToHtml } from "@utils/renderContent";

export interface Props {
  header?: string;
  content?: string;
}

const { header, content } = Astro.props;

const renderedContent = content ? renderMarkdownToHtml(content) : null;
---

<header>
  <h1 class="mb-1 text-3xl font-bold leading-5 text-black">
    {header}
  </h1>

  <div set:html={renderedContent} class="prose" />
</header>
