---
export interface Props {
  content?: string;
}

const { content } = Astro.props;
---

<div class="leading-6 text-black sm:w-2/3">
  <div class="prose">
    <slot />
    <div set:html={content} />
  </div>
</div>
