---

export interface Props {
  slug: string;
  posts: any[];
}

const { slug, posts } = Astro.props;
---

<table class="p-2 text-black" style="border-spacing: 2px;">
  <tbody class="" style="border-spacing: 2px;">
    {
      posts.map((post) => (
        <tr class="" style="border-spacing: 2px;">
          <td
            class="p-2 font-extralight text-right"
            style="min-width: 100px; border-spacing: 2px;"
          >
            {post.published_date}
          </td>
          <td class="p-0" style="max-width: 1em; border-spacing: 2px;" />
          <td class="p-2" style="border-spacing: 2px;">
            <a
              href={`${slug}/${post.slug}`}
              class="p-0 border-b-2 border-sky-600 border-solid cursor-pointer hover:text-sky-600"
              style="text-decoration: none; border-spacing: 2px;"
            >
              {post.title}
            </a>
          </td>
        </tr>
      ))
    }
  </tbody>
</table>
