---
import Socials from "./Socials.astro";

const currentYear = new Date().getFullYear();

export interface Props {
  noMarginTop?: boolean;
}

const { noMarginTop = false } = Astro.props;
---

<footer class="mt-12 text-center text-zinc-500">
  <p class="text-zinc-500">
    Copyright © 2024. All rights reserved.
  </p>
</footer>
