@tailwind base;
@tailwind components;
@tailwind utilities;

/*
    Tailwind colors listed here: https://tailwindcss.com/docs/customizing-colors

    Why colors are written in rgb format (255 255 255) instead of hex (#ffffff)
    https://tailwindcss.com/docs/customizing-colors#using-css-variables
*/
@layer base {

    /* light theme */
    .theme {
        /* Tailwind sky-700 #1d4ed8 */
        --color-primary-main: 29 78 216;

        /* Tailwind gray-700 #374151 */
        --color-text-body: 55 65 81;
        /* Tailwind gray-700 #374151 */
        --color-text-heading: 55 65 81;
        /* Tailwind gray-700 #374151 */
        --color-text-bold: 55 65 81;
        /* Tailwind gray-500 #6b7280 */
        --color-text-muted: 107 114 128;
        /* Tailwind sky-700 #1d4ed8 */
        --color-text-link: 29 78 216;
        /* black */
        --color-text-code: 0 0 0;
        /* black */
        --color-text-selection: 0 0 0;

        /* white */
        --color-bg-body: 255 255 255;
        /* Tailwind sky-600 #2563eb */
        --color-bg-code: 37 99 235;
        /* Tailwind sky-500 #3b82f6 */
        --color-bg-selection: 59 130 246;

        /* Tailwind sky-500 #3b82f6 */
        --color-border-code: 59 130 246;
    }

    /* dark theme */
    .theme.dark {
        /* Tailwind orange-600 #ea580c */
        --color-primary-main: 234 88 12;

        /* Tailwind stone-300 #d6d3d1 */
        --color-text-body: 214 211 209;
        /* white */
        --color-text-heading: 255 255 255;
        /* white */
        --color-text-bold: 255 255 255;
        /* Tailwind stone-400 #a8a29e */
        --color-text-muted: 168 162 158;
        /* Tailwind orange-600 #ea580c */
        --color-text-link: 234 88 12;
        /* white */
        --color-text-code: 255 255 255;
        /* black */
        --color-text-selection: 0 0 0;

        /* #0e141b */
        --color-bg-body: 14 20 27;
        /* Tailwind orange-700 #c2410c */
        --color-bg-code: 194 65 12;
        /* Tailwind orange-500 #f97316 */
        --color-bg-selection: 249 115 22;

        /* Tailwind orange-500 #f97316 */
        --color-border-code: 249 115 22;
    }

    :root {
        background-color: theme('colors.bg.body');
        color: theme('colors.text.body');
    }

    a:hover {
        color: rgb(var(--color-border-code)) !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: theme('fontFamily.heading');
    }
}

@layer components {

    /* ------ GLOBAL STYLES - START ------ */
    strong {
        font-weight: 600;
        color: theme('colors.text.bold');
    }

    mark {
        background-color: theme('colors.bg.selection');
        color: theme('colors.text.selection');
    }

    code:not(pre code):not(.unset) {
        background-color: theme('colors.bg.code');
        color: theme('colors.text.code');
        padding: 0.125rem 0.25rem;
        border-radius: 0.25rem;
        font-size: 0.875em;
        font-weight: 600;
        border: 1px solid theme('colors.border.code');
        margin-bottom: 1.25em;
    }

    html.dark code:not(pre code) {
        background-color: rgb(var(--color-bg-code) / 0.15);
        border-color: rgb(var(--color-border-code) / 0.15);
    }

    ::selection {
        background: theme('colors.bg.selection');
        color: theme('colors.text.selection');
    }

    .post-link {
        @apply border-b-2 border-solid cursor-pointer border-border-code;
    }

    /* ------ GLOBAL STYLES - END ------ */

}
