---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'a'>

const { href, ...props } = Astro.props
---

<li
  class="inline-block py-0 px-2 my-2 mx-0 leading-6 text-left text-neutral-800 sm:list-item sm:p-0"
  style="list-style: outside none none;"
>
  <a
    class="text-base font-normal text-left border-0 cursor-pointer focus:border-b focus:border-solid focus:border-blue-700 focus:text-blue-700 hover:border-b hover:border-solid hover:border-blue-700 hover:text-blue-700"
    href={href}
    style="text-decoration: none; transition: color 0.25s ease 0s; list-style: outside none none;"
  >
    <slot />
  </a>
</li>
