---
import { SITE } from "@config";
---

<div class="pl-2 pr-5">
  <header class="" style="font-size: xx-large;">
    <a href="/">
    {SITE.title}
    </a>
  </header>
  <div class="flex flex-wrap justify-between mt-4 mb-8 sm:flex-col">
    <div class="m-1" style="text-decoration: none; font-weight: bold;">
      <a
        href="/about"
        class="p-0 font-bold cursor-pointer hover:text-yellow-400"
        style="text-decoration: none;">About</a
      >
    </div>
    <div class="m-1" style="text-decoration: none;">
      <a
        href="/posts"
        class="p-0 border-b-2 border-yellow-400 border-solid cursor-pointer hover:text-yellow-400"
        style="text-decoration: none;">Posts</a
      >
    </div>
    <div class="m-1" style="text-decoration: none;">
      <a
        href="/projects"
        class="p-0 border-b-2 border-yellow-400 border-solid cursor-pointer hover:text-yellow-400"
        style="text-decoration: none;">Projects</a
      >
    </div>
  </div>
</div>
