---
import Head from '../components/Head.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Body from '../components/Body.astro'

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body
    class="p-4 m-auto font-serif leading-normal text-left break-words bg-zinc-800 text-stone-50 xl:max-w-screen-md"
  >
    <Header />
    <Body>
      <slot />
    </Body>
    <Footer />
  </body>
</html>
