---
import Main from "@layouts/Main.astro";
import Header from "@components/common/Header.astro";
import Card from "@components/main/MainCard.astro";
import Content from "@components/article/ArticleCard.astro";
import Footer from "@components/common/Footer.astro";
import { SITE } from "@config";

import directus from "@utils/directus";
import { readItems } from "@directus/sdk";

export async function getStaticPaths() {
  const posts = await directus.request(
    readItems("projects", {
      fields: ["*", { relation: ["*"] }],
    }),
  );
  return posts.map((post) => ({ params: { slug: post.slug }, props: post }));
}
const post = Astro.props;
---

<Main>
  <Card>
    <Header />
    <Content>
      <h1>{post.title}</h1>
      <div set:html={post.content} />
    </Content>
  </Card>
  <Footer />
  <Main />
</Main>
