---

import ListCard from "@components/main/MainList.astro";
import Nav from "@components/common/Nav.astro"
import MainCard from "@components/common/MainCard.astro";
import Content from "@components/article/ArticleCard.astro";
import Footer from "@components/common/Footer.astro";
import Base from "@layouts/Base.astro";

import directus from "@utils/directus";
import { readItems } from "@directus/sdk";
import { readSingleton } from "@directus/sdk";
import { readItem } from "@directus/sdk";
const pageContent = await directus.request(readItem("pages", "projects"));

const posts = await directus.request(
  readItems("projects", {
    fields: ["slug", "title", "published_date", { author: ["name"] }],
    sort: ["-published_date"],
  }),
);

---

<Base>
  <main
    class="flex flex-col mx-4 mt-8 leading-6 text-black sm:mx-auto sm:mt-20 sm:mb-auto"
    style="max-width: 1000px;"
  >
    <div class="flex flex-col text-black sm:flex sm:flex-row">
      <Nav />
      <Content>
        <div class="prose prose-code:text-blue-500">
          <p set:html={pageContent.content}/>
        </div>

        <table class="p-2 text-black" style="border-spacing: 2px;">
          <tbody class="" style="border-spacing: 2px;">
            {
              posts.map((post) => (
                <ListCard
                  date={post.published_date}
                  title={post.title}
                  href={`/posts/${post.slug}`}
                />
              ))
            }
          </tbody>
        </table>
      </Content>
    </div>
    <Footer />
  </main>
</Base>
