---
import { Image } from 'astro:assets'
import logo from '../media/images/Logo.png'

import NavLink from '../components/NavLink.astro'
import SocialLink from '../components/SocialLink.astro'
---

<header
  class="m-0 leading-6 text-left break-words text-stone-50 xl:mx-0 xl:mt-0 xl:mb-8"
>
  <div
    class="hidden leading-6 text-left break-words text-stone-50 md:flex md:items-center md:justify-between"
  >
    <!-- Nav Links--->
    <div class="leading-6 text-left break-words text-stone-50"></div>
    <NavLink href="/">Home</NavLink>
    <NavLink href="/about">About</NavLink>
    <NavLink href="/blog">Blog</NavLink>
    <NavLink href="/Projects">projects</NavLink>
    <NavLink href="/rss">RSS</NavLink>
  </div>

  <!-- Social Links--->
  <div
    class="flex flex-row gap-2 leading-6 text-left break-words text-stone-50"
  >
    <SocialLink href="" name="" icon="" />
    <SocialLink href="" name="" icon="" />
    <SocialLink href="" name="" icon="" />

    <span
      class="absolute leading-6 text-left break-words cursor-pointer bg-slate-400 text-stone-50"
    ></span>
  </div>

  <div
    class="flex justify-center items-center leading-6 text-left break-words text-stone-50"
  >
    <a
      href="/"
      aria-label="Home"
      class="mr-2 text-left cursor-pointer text-slate-400"
    >
      <Image
        class="hidden max-w-full h-auto break-words sm:block md:h-40 md:w-40"
        src={logo}
        alt="Space dude"
      />
    </a>

    <div class="flex flex-col text-left text-stone-50">
      <strong class="font-bold text-center xl:text-center">Over Index</strong>
      <strong class="font-bold leading-5 text-center xl:text-center sm:block">
        In technology, chaos reigns supreme.
      </strong>
    </div>
  </div>
</header>
