---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'a'>

const { href, ...props } = Astro.props
---

<a
  href={href}
  class="inline-block mr-2 leading-6 text-left text-amber-500 break-words cursor-pointer"
>
  <slot />
</a>
