---
const today = new Date()
import { SITE_TITLE } from '../consts'
---

<footer class="footer footer-center w-full p-4">
  <div class="text-center text-sm text-neutral-500 tracking-tighter">
    <p>
      &copy; {today.getFullYear()} All rights reserved -
      <a class="" href="mailto:jaredconnor301@gmail.com">{SITE_TITLE}</a>
    </p>
  </div>
</footer>
