---
import { getCollection } from 'astro:content'
import FormattedDate from '../components/FormattedDate.astro'

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
)
---

<div
  class="py-6 px-5 leading-6 text-neutral-800 sm:px-5 sm:py-8 lg:px-8 lg:py-10"
>
  <div class="mx-0 mt-0 mb-6 text-base text-neutral-800">
    <div class="">
      <div class="mb-8">
        <h2
          class="mt-0 mb-2 font-sans text-2xl font-semibold leading-8 lg:mt-12"
        >
          <a
            class="cursor-pointer focus:border-b focus:border-solid focus:border-neutral-800 focus:text-neutral-800 hover:border-b hover:border-solid hover:border-neutral-800 hover:text-neutral-800"
            href="/blog/100devs/"
            style="text-decoration: none; transition: color 0.25s ease 0s;"
            >#100Devs Free Full Stack Web Development Bootcamp (Live)</a
          >
        </h2>
        <div class="mb-3">
          <time
            class="text-sm font-semibold uppercase"
            datetime="2020-09-18T12:00:00.000Z">September 18, 2020</time
          ><span class="my-0 mx-1"></span><span class=""
            ><a
              class="text-sm font-semibold text-green-600 uppercase cursor-pointer focus:text-blue-700 hover:text-blue-700"
              href="/tag/education/"
              style="text-decoration: none; transition: color 0.25s ease 0s;"
              >Education</a
            ></span
          >
        </div>
        <p class="mb-2 lg:mb-8">
          Free full stack coding bootcamp for those laid off or affected by the
          pandemic.
        </p>
        <a
          class="py-1 px-0 font-bold text-blue-700 cursor-pointer focus:border-b focus:border-solid focus:border-blue-700 focus:text-blue-700 hover:border-b hover:border-solid hover:border-blue-700 hover:text-blue-700"
          href="/blog/100devs/"
          style="text-decoration: none; transition: color 0.25s ease 0s;"
          >Read</a
        >
      </div>
      <div class="mb-8">
        <h2
          class="mt-0 mb-2 font-sans text-2xl font-semibold leading-8 lg:mt-12"
        >
          <a
            class="cursor-pointer focus:border-b focus:border-solid focus:border-neutral-800 focus:text-neutral-800 hover:border-b hover:border-solid hover:border-neutral-800 hover:text-neutral-800"
            href="/blog/free-coding-bootcamp/"
            style="text-decoration: none; transition: color 0.25s ease 0s;"
            >Free 5 Week Web Development Bootcamp (Live)</a
          >
        </h2>
        <div class="mb-3">
          <time
            class="text-sm font-semibold uppercase"
            datetime="2020-07-20T12:00:00.000Z">July 20, 2020</time
          ><span class="my-0 mx-1"></span><span class=""
            ><a
              class="text-sm font-semibold text-green-600 uppercase cursor-pointer focus:text-blue-700 hover:text-blue-700"
              href="/tag/education/"
              style="text-decoration: none; transition: color 0.25s ease 0s;"
              >Education</a
            ></span
          >
        </div>
        <p class="mb-2 lg:mb-8">
          Free coding bootcamp for those laid off or affected by the pandemic.
        </p>
        <a
          class="py-1 px-0 font-bold text-blue-700 cursor-pointer focus:border-b focus:border-solid focus:border-blue-700 focus:text-blue-700 hover:border-b hover:border-solid hover:border-blue-700 hover:text-blue-700"
          href="/blog/free-coding-bootcamp/"
          style="text-decoration: none; transition: color 0.25s ease 0s;"
          >Read</a
        >
      </div>
      <div class="mb-3">
        <h2
          class="mt-0 mb-2 font-sans text-2xl font-semibold leading-8 lg:mt-12"
        >
          <a
            class="cursor-pointer focus:border-b focus:border-solid focus:border-neutral-800 focus:text-neutral-800 hover:border-b hover:border-solid hover:border-neutral-800 hover:text-neutral-800"
            href="/blog/offline-learning-remote-schools/"
            style="text-decoration: none; transition: color 0.25s ease 0s;"
            >Using Kiwix To Power Offline Learning In Remote Schools</a
          >
        </h2>
        <div class="mb-3">
          <time
            class="text-sm font-semibold uppercase"
            datetime="2020-05-04T12:00:00.000Z">May 4, 2020</time
          ><span class="my-0 mx-1"></span><span class=""
            ><a
              class="text-sm font-semibold text-green-600 uppercase cursor-pointer focus:text-blue-700 hover:text-blue-700"
              href="/tag/education/"
              style="text-decoration: none; transition: color 0.25s ease 0s;"
              >Education</a
            ></span
          >
        </div>
        <p class="mb-2 lg:mb-8">
          How my wife and I built a remote computer lab in Tanzania for the
          Maasai.
        </p>
        <a
          class="py-1 px-0 font-bold text-blue-700 cursor-pointer focus:border-b focus:border-solid focus:border-blue-700 focus:text-blue-700 hover:border-b hover:border-solid hover:border-blue-700 hover:text-blue-700"
          href="/blog/offline-learning-remote-schools/"
          style="text-decoration: none; transition: color 0.25s ease 0s;"
          >Read</a
        >
      </div>
    </div>
  </div>
</div>
