---
import { SITE_TITLE } from '../consts'
---

<nav class="p-4 min-[480px]:pl-8 min-[480px]:pr-8">
  <div class="items-center justify-between m-auto min-[960px]:flex">
    <a
      href="https://lethain.com/"
      class="text-black/[0.9] text-2xl inline-block">Irrational Exuberance</a
    >
    <div class="items-center min-[960px]:flex">
      <ul class="list-disc mr-4">
        <li class="text-xl pr-4 inline-block">
          <a href="https://lethain.com/featured/" class="text-black/[0.9]"
            >Popular</a
          >
        </li>
        <li class="text-xl pr-4 inline-block">
          <a href="https://lethain.com/tags/" class="text-black/[0.9]">Tags</a>
        </li>
        <li class="text-xl pr-4 inline-block">
          <a href="https://lethain.com/newsletter/" class="text-black/[0.9]"
            >Newsletter</a
          >
        </li>
        <li class="text-xl pr-4 inline-block">
          <a href="https://lethain.com/feeds.xml" class="text-black/[0.9]"
            >RSS</a
          >
        </li>
        <li class="text-xl pr-4 inline-block">
          <a href="https://lethain.com/about" class="text-black/[0.9]">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
