---
import { SITE_TITLE } from '../consts'
import NavLink from './NavLink.astro'
import SocialLink from './SocialLink.astro'
---

<div
  class="text-neutral-800 px-3 pt-6 relative pb-0 min-[685px]:pt-8 min-[685px]:pr-2 min-[685px]:pb-0 min-[685px]:pl-2 min-[960px]:pt-6 min-[960px]:pr-2 min-[960px]:pb-0 min-[960px]:pl-2"
>
  <div>
    <div class="items-center flex min-[685px]:block">
      <h2
        class="text-lg font-semibold my-3 ml-2 min-[960px]:mt-12 min-[685px]:ml-0"
      >
        {SITE_TITLE}
        <a
          href="https://twitter.com/loopstrangely"
          class="text-blue-700 font-medium">@loopstrangely</a
        >
      </h2>
    </div>
    <p class="text-neutral-500 mb-3 min-[960px]:mb-7 min-[685px]:mb-6">
      Software Engineer and Data Analyst. I think and write about the impacts of
      technology on the economy.
    </p>

    <ul
      class="p-0 m-0 leading-6 text-center text-neutral-800"
      style="list-style: none;"
    >
      <NavLink href="/blog">Blog</NavLink>
      <NavLink href="/about">About</NavLink>
      <NavLink href="/projects">Projects</NavLink>
      <NavLink href="/rss.xml">Feed</NavLink>
    </ul>

    <ul
      class="flex flex-grow-0 flex-shrink-0 justify-center p-0 my-2 -mx-1 leading-6 text-neutral-800 sm:justify-center"
      style="flex-flow: wrap; list-style: none;"
    >
      <SocialLink
        href="https://github.com/jaredtconnor"
        icon="fa-brands fa-github"
        name="github"
      />
      <SocialLink
        href="https://twitter.com/Jared_ThomasC"
        icon="fa-brands fa-twitter"
        name="twitter"
      />
      <SocialLink
        href="https://www.linkedin.com/in/jaredconnor/"
        icon="fa-brands fa-linkedin"
        name="linkedin"
      />
      <SocialLink
        href="mailto:jaredconnor301@gmail.com?subject=Reaching out"
        icon="fa-solid fa-envelope"
        name="mail"
      />
    </ul>
  </div>
</div>
