---
import NavLink from './NavLink.astro'
import SocialLink from './SocialLink.astro'

import { SITE_TITLE } from '../consts'
---

<div
  class="w-full leading-6 text-neutral-800 sm:float-left sm:clear-both sm:mr-8 sm:w-64 lg:float-left lg:clear-both lg:mr-8 lg:w-64"
>
  <div
    class="relative px-2 pt-6 pb-0 leading-6 text-neutral-800 sm:absolute sm:bottom-0 sm:w-px sm:px-2 sm:pt-8 sm:pb-0 lg:px-2 lg:pt-6 lg:pb-0"
  >
    <div class="flex flex-row items-center leading-6 text-neutral-800 sm:block">
      <h2
        class="my-3 mr-0 ml-2 font-sans text-lg font-semibold leading-7 text-neutral-800 sm:ml-0 lg:mt-12"
      >
        <a
          aria-current="page"
          class="text-lg font-semibold leading-7 cursor-pointer text-neutral-800 focus:text-neutral-800 hover:text-neutral-800"
          href="/"
          style="text-decoration: none; transition: color 0.25s ease 0s;"
          >Name</a
        >
      </h2>

       Name and photo
    </div>
  </div>
</div>
