---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'a'>

const { href, ...props } = Astro.props

const { pathname } = Astro.url
---

<a
  href={href}
  class="transition-all hover:bg-sky-200 hover:text-slate-800"
  {...props}
>
  <span class="relative py-[5px] px-[10px] md:pl-[8px]">
    <slot />
  </span>
</a>
