---
const { href } = Astro.props
---

<!-- DO NOT FORMAT. IT ADDS AN EXTRA SPACE ON RENDERED CONTENT. -->
<div class="m-1">
  <a href={href} class="p-0 border-b-2 border-solid cursor-pointer border-border-code">
    <slot />
  </a>
</div>
