---
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

const posts = (await getCollection("project")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<div>
  {
    posts.map((post) => (
      <a href={`/projects/${post.slug}/`} class="flex flex-col space-y-1 mb-4">
        <div class="flex flex-col">
          <div>
            <span class="transition hover:bg-sky-200 hover:text-slate-800 text-lg">
              {post.data.title}
            </span>
          </div>
        </div>
        <div class="text-sm">{post.data.description}</div>
        <span class="font-mono text-xs text-neutral-500 tracking-tighter">
          <FormattedDate date={post.data.pubDate} />
        </span>
      </a>
    ))
  }
</div>
