---
import PageLayout from '../../layouts/PageLayout.astro'
import PageMeta from '../../components/PageMeta.astro'
import { SITE_TITLE } from '../../config'

import ProjectList from '../../components/projects/ProjectList.astro'
import fetchApi from '../../lib/strapi'
import type Project from '../../interfaces/Project'

const projects = await fetchApi<Project[]>({
  endpoint: 'projects',
  wrappedByKey: 'data',
})
---

<PageLayout>
  <PageMeta title={`Projects | ${SITE_TITLE}`} slot="meta" />
  <section slot="main">
    <ProjectList title="Projects" projects={projects} />
  </section>
</PageLayout>
