---


---

<tr class="leading-6 text-black" style="border-spacing: 2px;">
  <td
    class="p-2 font-extralight text-right"
    style="min-width: 100px; border-spacing: 2px;"
  >
    17 May 2022
  </td>
  <td class="p-2 text-black" style="border-spacing: 2px;">
    <a
      href="/blog/2022/05/17/professional-programming-the-first-10-years/"
      class="p-0 border-b-2 border-yellow-400 border-solid cursor-pointer hover:text-yellow-400"
      style="text-decoration: none; border-spacing: 2px;"
      >Professional Programming: The First 10 Years</a
    >
  </td>
</tr>
