---
import Main from "@layouts/Main.astro";
import Header from "@components/main/Header.astro";
import Card from "@components/cards/Card.astro";
import Content from "@components/article/Content.astro";
import Footer from "@components/main/Footer.astro";
import { SITE } from "@config";

import directus from "@utils/directus";
import { readItems } from "@directus/sdk";

const tags = await directus.request(
  readItems("tags", {
    fields: ["tag"],
  }),
);

// const posts = await getCollection("blog");
---

<Main>
  <Card>
    <Header />
    <Content>
      <ul>
        {
          tags.map((tag) => (
            <li>
              <p>{tag.tag}</p>
            </li>
          ))
        }
      </ul>
    </Content>
  </Card>
  <Footer />
</Main>
