---
import Head from '../components/Head.astro'
import Nav from '../components/Nav.astro'
import Footer from '../components/Footer.astro'
import MainContent from '../components/MainContent.astro'

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <div class="container mx-auto flex flex-col max-w-5xl md:flex-row">
    <!-- Sidebar content goes here -->
    <div class="md:w-1/4 md:mr-4">
      <Nav />
    </div>

    <!-- For smaller screens, the sidebar content moves on top -->
    <!-- Blog content goes here -->
    <div class="md:w-3/4 mt-4 md:mt-0 md:order-2">
      <div
        class="text-neutral-800 py-6 px-5 min-[685px]:pt-8 min-[685px]:pr-5 min-[685px]:pb-8 min-[685px]:pl-5 min-[960px]:pt-10 min-[960px]:pr-9 min-[960px]:pb-10 min-[960px]:pl-9"
      >
        <div class="mb-7">
          <slot />
        </div>
      </div>
    </div>
  </div>

  <Footer />
</html>
