---
/*
  This layout is used in
  - pages/index.astro
  - pages/blog.astro
  - pages/projects.astro
*/

// Import the global.css file here so that it is included on
import '../styles/global.css'

import GoogleFont from './GoogleFont.astro'
import FontAwesome from './FontAwesome.astro'
import ThemeScript from './ThemeScript.astro'
import Favicon from './Favicon.astro'
import Nav from '../components/Nav.astro'
import Footer from '../components/Footer.astro'
---

<!DOCTYPE html>
<html class="theme" lang="en">
  <head>
    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content="Blogster" />
    <Favicon />
    <slot name="meta" />
    <GoogleFont />
    <ThemeScript />
    <FontAwesome />
  </head>
  <div
    class="flex flex-col mx-4 mt-8 leading-6 sm:mx-auto sm:mt-20 sm:mb-auto"
    style="max-width: 800px;"
  >
    <div id="body" class="flex flex-col sm:flex sm:flex-row">
      <Nav />

      <div id="main" class="sm:w-2/3 mt-2">
        <slot name="main" />
      </div>
    </div>

    <Footer />
  </div>
</html>
