---
import MainLayout from './MainLayout.astro'
---

<MainLayout>
  <div
    class="prose prose-invert prose-neutral text-white max-w-none prose-a:text-sky-400 transistion hover:prose-a:bg-sky-200 hover:prose-a:text-slate-800 prose-a:no-underline prose-code:text-white prose-blockquote:text-white prose-strong:text-white prose:text-white prose-headings:text-white"
  >
    <slot />
  </div>
</MainLayout>
