---
import Header from "@components/Header.astro";
import Content from "@components/ArticleCard.astro";
import Card from "@components/ArticleCard.astro";
import MainCard from "@components/MainCard.astro";
import Footer from "@components/Footer.astro";
import Base from "@layouts/Base.astro";
---

<Base>
  <main
    class="flex flex-col mx-4 mt-8 leading-6 text-black sm:mx-auto sm:mt-20 sm:mb-auto"
    style="max-width: 1000px;"
  >
    <div class="flex flex-col text-black sm:flex sm:flex-row">
      <Header />
      <MainCard>
        <div class="not-found-wrapper">
          <h1 aria-label="404 Not Found">404</h1>
          <span aria-hidden="true">¯\_(ツ)_/¯</span>
          <p>Page Not Found</p>
        </div>
      </MainCard>
    </div>
    <Footer />
  </main>
</Base>
