---
import Main from "@layouts/Main.astro";
import Header from "@components/main/Header.astro";
import Card from "@components/cards/Card.astro";
import Content from "@components/article/Content.astro";
import Footer from "@components/main/Footer.astro";
import { SITE } from "@config";

import directus from "@utils/directus";
import { readItems } from "@directus/sdk";

export async function getStaticPaths() {
  const pages = await directus.request(readItems("pages"));
  return pages.map((page) => ({
    params: { slug: page.slug },
    props: page,
  }));
}
const page = Astro.props;
---

<Main>
  <Card>
    <Header />
    <Content>
      <h1>{page.title}</h1>
      <div set:html={page.content} />
    </Content>
  </Card>
  <Footer />
</Main>
