---
import Header from "@components/Header.astro";
import Nav from "@components/Nav.astro";
import Card from "@components/Card.astro";
import MainCard from "@components/MainCard.astro";
import Footer from "@components/Footer.astro";
import directus from "@utils/directus";
import { readSingleton } from "@directus/sdk";
import { SOCIALS } from "@config";
import { readItem } from "@directus/sdk";
import Base from "@layouts/Base.astro";

const configstuff = await directus.request(readSingleton("global"));

const socialCount = SOCIALS.filter((social) => social.active).length;

const page = await directus.request(readItem("pages", "about"));
---

<Base>
  <main
    class="flex flex-col mx-4 mt-8 leading-6 text-black sm:mx-auto sm:mt-20 sm:mb-auto"
    style="max-width: 1000px;"
  >
    <div class="flex flex-col text-black sm:flex sm:flex-row">
      <Nav />
      <Card>
        <Header header="About"/>
        <MainCard content={page.content} />
      </Card>
    </div>
    <Footer />
  </main>
</Base>
