---
import { getCollection } from "astro:content";
import Main from "@layouts/Main.astro";
import Header from "@components/main/Header.astro";
import Card from "@components/cards/Card.astro";
import Content from "@components/article/Content.astro";
import Footer from "@components/main/Footer.astro";
import Socials from "@components/main/Socials.astro";
import directus from "@utils/directus";
import { readSingleton } from "@directus/sdk";
import { SOCIALS } from "@config";
import { readItem } from "@directus/sdk";

const configstuff = await directus.request(readSingleton("global"));

const socialCount = SOCIALS.filter((social) => social.active).length;

const homePage = await directus.request(readItem("pages", "home"));
---

<Main>
  <Card>
    <Header />
    <Content>
      <p set:html={homePage.content} />
    </Content>
  </Card>
    <Footer />
</Main>
