---
import Container from "@components/Container.astro";
import { SITE } from "@consts";
import BackToTop from "@components/BackToTop.astro";
---

<footer class="animate relative py-5 pb-10 text-sm show">
  <div class="mx-auto max-w-screen-sm px-6">
    © 2024 | {SITE.NAME}
  </div>
</footer>
