@import "highlight.js/styles/github.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root,
  :root[data-theme="light"] {
    --color-bgColor: 250 245 245; /* Updated background color to match the target website's style */
    --color-contentColor: 50 50 50; /* Updated text color to be slightly darker */
    --sun-fill: rgb(0, 0, 0);
    --moon-fill: transparent;
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --color-bgColor: 34 40 49;
      --color-contentColor: 238 238 238;
      --sun-fill: transparent;
      --moon-fill: rgb(255, 255, 255);
    }
  }
  :root[data-theme="dark"] {
    --color-bgColor: 34 40 49;
    --color-contentColor: 238 238 238;
    --sun-fill: transparent;
    --moon-fill: rgb(255, 255, 255);
  } 
}
