---
import Base from "./Base.astro";
import Header from '@components/main/Header.astro';
import Footer from '@components/main/Footer.astro';
---

<Base>

  <main class="flex flex-col mx-4 mt-8 leading-6 text-black sm:mx-auto sm:mt-20 sm:mb-auto" style="max-width: 1000px;">
    <slot />
    </main>
</Base>
