---
import Breadcrumbs from "@components/common/Breadcrumbs.astro";

export interface Props {
  title: string;
  desc: string;
}

const { title, desc } = Astro.props;
---

<Breadcrumbs />
<main id="main-content">
  <h1 class="mb-1 text-3xl font-bold leading-5 text-black">
    {title}
  </h1>
  <p class="mt-5 font-extralight leading-6 text-black">
    {desc}
  </p>
  <slot />
</main>
