---
import Nav from "@components/Nav.astro";
import Footer from "@components/Footer.astro";
import directus from "@utils/directus";
import { readSingleton } from "@directus/sdk";
import { SOCIALS } from "@config";
import { readItem } from "@directus/sdk";
import Base from "@layouts/Base.astro";

---

<Base>
  <main
    class="flex flex-col mx-4 mt-8 leading-6  sm:mx-auto sm:mt-20 sm:mb-auto"
    style="max-width: 1000px;"
  >
    <div class="flex flex-col sm:flex sm:flex-row">
      <Nav />
      <slot name="card" /> 
    </div>
    <Footer />
  </main>
</Base>
